// Mongo DB
MONGO_DB_URI = mongodb+srv://DataBase1:<password>@cluster0.kft30.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

//base url for api's
NEXTAUTH_URL = http://localhost:3000/

// For google authentication
NEXTAUTH_URL_INTERNAL = http://localhost:3000/
NEXT_PUBLIC_BASE_URL = http://localhost:3000
GOOGLE_CLIENT_SECRET = 
GOOGLE_ID = 6
NEXTAUTH_SECRET =


Live Demo # https://prompt-planet.vercel.app/